<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @website.name %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @website.contact %>
</p>

<p>
  <strong>Address:</strong>
  <%= @website.address %>
</p>

<p>
  <strong>Agent name:</strong>
  <%= @website.agent_name %>
</p>

<%= link_to 'Edit', edit_website_path(@website) %> |
<%= link_to 'Back', websites_path %>
